@model IEnumerable<Lab7MVC.Controllers.OrderModelExt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
           Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Count)
    </td>
    <td>
        @(item.Count*item.ProductPrice)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { customerId = item.CustomerId, productId = item.ProductId}) |
        @Html.ActionLink("Details", "Details", new { customerId = item.CustomerId, productId = item.ProductId }) |
        @Html.ActionLink("Delete", "Delete", new { customerId = item.CustomerId, productId = item.ProductId })
    </td>
</tr>
}

</table>
